body{
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity:0.9;
}

.header{
    height: 69px;
    border-bottom: 1px solid seashell;
    display:flex;
    justify-content: space-between;
}

.logo{
    padding: 5px;
    height: 50px;
    width: auto;

}

ul li{
    list-style-type: none ;
    display: inline;
    padding: 15px;
}

a {
    color: white;
  }

.background1{
    background-image: url('medias/img-mission-background.jpg');
    height: 700px;
    width:1200px;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    margin: 0 auto;
    
    display:flex;
    justify-content: center;
    align-items: center;
}


.title1{
    background-color: black;
    width: 100%;
    height: 150px;
    text-align: center;
}

.container{
    display: flex;
    width: 1000px;
    height: auto;

    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 300px;
}

.line1{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.line2{
    width: 666px;
    display: flex;
    justify-content: space-between;
    
}

.background2{
    background-image: url('medias/img-locations-background.jpg');
    height: 500px;
    width: 1200px;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    margin: 0 auto;
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address{
    width:980px;
    display:flex;
    justify-content: space-between;
    
}

.adbox{
    width: 300px;
    background-color: black;
    opacity: 1 !important;
    text-align: center;
}

.footerbox{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}